<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.scme.servlet.LoginServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AddServlets</servlet-name>
  <servlet-class>com.scme.servlet.AddServlets</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>UpdateServlets</servlet-name>
  <servlet-class>com.scme.servlet.UpdateServlets</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>DeleteServlets</servlet-name>
  <servlet-class>com.scme.servlet.DeleteServlets</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>ExitServlets</servlet-name>
  <servlet-class>com.scme.servlet.ExitServlets</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>lyServlets</servlet-name>
  <servlet-class>com.scme.servlet.lyServlets</servlet-class>
 </servlet>
 
 
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExportServlet</servlet-name>
    <servlet-class>com.scme.servlet.ExportServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>com.scme.servlet.SelectServlet</servlet-class>
  </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.scme.servlet.CheckCodeServlet</servlet-class>
  </servlet>


 <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddServlets</servlet-name>
  <url-pattern>/AddServlets</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateServlets</servlet-name>
  <url-pattern>/UpdateServlets</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteServlets</servlet-name>
  <url-pattern>/DeleteServlets</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ExitServlets</servlet-name>
  <url-pattern>/ExitServlets</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>lyServlets</servlet-name>
  <url-pattern>/lyServlets</url-pattern>
 </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ExportServlet</servlet-name>
    <url-pattern>/ExportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
 <welcome-file-list>
  <welcome-file>login.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
